# Configuration file

general {
    # Which dimension IDs Bedrock Replacer is disabled in.
    I:disabledindimensions <
     >

    # The block id to replace Bedrock with.
    S:replacewith=minecraft:stone

    # Enables blocks showing in the config that might crash the game if used to replace bedrock.
    B:riskyblocks=false
}


